---
layout: page
title: Photography
permalink: /photography/
---
<div class="photos">
<p>This is a selected collection of my photography works.</p>
<p>To Be Continue...</p>
<div class="gallery_box">
  {% for post in site.categories.photos %}
    <a href="{{ post.url }}" title="{{ post.title }}">
      <figure>
          <img class="square" src="{{ post.image.thumbnail }}" alt="">
         <!-- <figcaption>{{ post.excerpt }}</figcaption> -->
        </figure>
    </a>
  {% endfor %}
</div>
</div>
{% include disqus.html %}
