---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
@import 'lazyload';
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 10px;
}

body:not(.home){
      background: linear-gradient($lightPink -50%,$white 25%,$white 75%, $waterBlue 150%) ;
      background-attachment: fixed;
  }
body {
	background: linear-gradient($white 75%, $waterBlue 130%) ;
  background-attachment: fixed;
  font: 1.5rem $helvetica;
  color: $darkGray;
  line-height:1.6;
  -webkit-font-smoothing: antialiased;
}

@media screen and (max-width: 1024px) {
  body:before{
  background: linear-gradient($white 75%, $waterBlue 130%) ;
  background-attachment: fixed;
  }
  body:not(.home):before {
  content: ' ';
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient($lightPink -100%,$white 50%,$white 75%, $waterBlue 130%) ;
  background-size:100vw 100vh;
  }  
}


.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
  .post ,.page{
    padding:10px 20px;
    background: rgba(255,255,255,0.3);
    border-radius:2px;
    box-shadow: 0px 0px 2px #999;
  }
  .post{
    margin-bottom:20px;
  }
}

.post .entry{
    margin-bottom:30px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 2.4rem;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 2.0rem;
  padding:0 0 6px 8px;
  border-left:5px solid $red;
  border-bottom:1px solid #999;
  line-height:0.8;
}

h4 {
  font-size: 1.8rem;
  color: $gray;
}

p {
  margin: 15px 0;
}

a{
  color: $red;
  text-decoration: none;
  font-weight:500;
	cursor: pointer;
  &:hover, &:active {
    color: $lightRed;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.ordinaryiframe {
  width:500px;
  opacity:0.85;
  @include mobile {
    width:300px;
  }
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid $lightGray;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;
  :hover{
    opacity:0.7;
  }

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    /* border-radius: 35px;
    box-shadow: 0.5px 0.5px 3px #fff;*/
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $helveticaNeue;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $red;
    }
  }
}

#homeContent{

  .banner{
    overflow: hidden;
    p{
      vertical-align:bottom;
      margin: 10px 30px 0 0;
      font-weight: 300;
      font-size: 80px;
      float: left;
    }
    img{
      float: right;
    }
  }
}

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
}

footer {
  padding: 20px 0;
  text-align: center;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";

/* [Portfolio] page start↓ */
.gallery_box{
  overflow: hidden;
}
.gallery_box a{
  margin: 10px 30px 0 0;
  width: 180px;
  float: left;
  :hover{
    opacity:0.8;
  }
  .square{
    object-fit: cover;
    width: 180px;
    height: 180px;
  }
  img{
    border-radius:10px;
    box-shadow: 1px 1px 5px #999;
  }
}

.portfolio-list{
  padding-bottom:30px;
  .myart{
    width:500px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #999;
  }
  .myart:hover{
    opacity:0.8;
  }
}

/* [Portfolio] page end↑ */

/* [About] page start↓ */
.about-main{
  overflow: hidden;
  }
.box-right{
  float: left;
}
.image-right{
  float: right;
  margin-right:100px;
  transform: rotate(7deg);
}
/* page end↑ */

/* [draws] page start↓ */
.draws{
  margin-bottom:30px;
}
/* page end↑ */

/* [photos] page start↓ */
.photos{
  margin-bottom:30px;
}
/* page end↑ */

table.normal{
     margin-left: 60px;
     width:450px;
     border-collapse:separate;
    border-spacing:7px;
    @include mobile {
      margin:auto;
      width:80%;
    }
}
table.normal caption{
    text-align: left;
    padding:10px 0 20px 0;
}
table.normal th,td{
    border-radius:5px;
    /*border: 1px solid #ccc;*/
    padding:2px 15px;
    vertical-align:middle; 
}

table.normal th{
    background: rgba(220,210,220,0.2);
    text-align: left;   
}
table.normal td{
   text-align: left;
}

.tableli{
    padding:20px 0 10px 20px ;
}

table.normal progress{
  background-color: rgb(220,210,220);
  border: 0;
  height: 5px;
  border-radius: 9px;
}

table.certification{
    width:550px;
    @include mobile {
      margin:0;
      width:80%;
    }
} 
table.certification td{
    margin:0;
    font-weight:500;
} 

.certification{
  /*img{
    padding:0;
    margin:0;
    width:25px;
    height:25px;
    border-radius:20px;
    box-shadow: 0px 0px 2px #999;
  }*/
  a{
    all: unset;
    padding:0;
    border:0;
    margin:0;
  }
  a::after{
    content:'';/*何も入れない*/
    display: inline-block;/*忘れずに！*/
    width: 15px;/*画像の幅*/
    height: 15px;/*画像の高さ*/
    background-image: url(images/icon/icon_link.svg);
    background-size: contain;
    vertical-align: middle;
    margin:0 5px;
  }
}

*:target{
background-color: rgb(220,210,220);
}